<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>JUTR Jobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- importing webpacks for bootstrap 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Add Work Experience</h1>
  </div>
  <!-- creating textfields for editing work experience  -->
  <div class="container">
    <h2>Work Experience</h2>
    <form class="" action="workEdit" method="post">
      <div class="form-group">
        <label for="Name">Company Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required>
        <label for="position">Enter Position</label>
        <input type="text" class="form-control" id="position" name="position" required>
        <label for="employmentType">Enter Employment Type</label>
        <input type="text" class="form-control" id="employmentType" name="employmentType" required>
        <label for="workDescription">Enter Work Description</label>
        <input type="text" class="form-control" id="workDescription" name="workDescription">
        <label for="monthsWorked">Enter Number of Months Worked</label>
        <input type="text" class="form-control" id="monthsWorked" name="monthsWorked" pattern="[0-9]*"required>
      </div>
      <button type="submit" class="btn btn-dark">Save</button>
      <a class="btn btn-dark" href="./Profile">Back</a>
    </form>
      <!-- Using handlebars to get and alert a message  -->
    {{#if message}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
  </div>
</body>
</html>
