<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>JUTR Jobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Profile Information</h1>
      <p>Jayash is cute</p>
    </div>
    <div class="container">
        <h2>Profile</h2>
        <form class="" action="profileEdit" method="post">
          <div class="form-group">
            <label for="FirstName">Enter your first name:</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" pattern="[A-Za-z]*" required>
          </div>
          <div class="form-group">
            <label for="LastName">Enter your last name:</label>
            <input type="text" class="form-control" id="LastName" name="LastName" pattern="[A-Za-z]*" required>
          </div>
          <div class="form-group">
            <label for="Email">Enter your email:</label>
            <input type="email" class="form-control" id="Email" name="Email" required>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Enter Phone Number: </label>
            <input type="phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber" required>
          </div>
          <h2>Skill</h2>
          <div class="form-group">
            <label for="skill">Enter Description of Skill</label>
            <input type="text" class="form-control" id="skill" name="skill" required>
          </div>
          <h2>Education Experience</h2>
          <div class="form-group">
            <label for="school">Enter School</label>
            <input type="text" class="form-control" id="school" name="school" required>
            <label for="degree">Degree</label>
            <input type="text" class="form-control" id="degree" name="degree" required>
            <label for="achievements">Enter Achievements</label>
            <input type="text" class="form-control" id="achievements" name="achievements">
            <label for="startingyear">Enter Starting Year</label>
            <input type="text" class="form-control" id="startingyear" name="startingyear" pattern="[0-9]*"required>
            <label for="endingyear">Enter Year of Completion (or Expected Year of Completion)</label>
            <input type="text" class="form-control" id="endingyear" name="endingyear" pattern="[0-9]*"required>
          </div>
          <h2>Work Experience</h2>
          <div class="form-group">
            <label for="Name">Company Name</label>
            <input type="text" class="form-control" id="Name" name="Name" required>
            <label for="position">Enter Position</label>
            <input type="text" class="form-control" id="position" name="position" required>
            <label for="employmentType">Enter Employment Type</label>
            <input type="text" class="form-control" id="employmentType" name="employmentType" required>
            <label for="workDescription">Enter Work Description</label>
            <input type="text" class="form-control" id="workDescription" name="workDescription">
            <label for="monthsWorked">Enter Number of Months Worked</label>
            <input type="text" class="form-control" id="monthsWorked" name="monthsWorked" pattern="[0-9]*"required>
          </div>
          <button type="submit" class="btn btn-dark">Save</button>
        </form>
  </body>
</html>
