<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>JUTR Jobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Welcome to JUTR Jobs!</h1>
      <p>Search for your next career.</p>
    </div>

    <div class="container">
        <h2>Login here!</h2>
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <label for="Username">Enter username:</label>
            <input type="text" class="form-control" id="Username" name="Username">
          </div>
          <div class="form-group">
            <label for="Password">Enter Password</label>
            <input type="password" class="form-control" id="Password" name="Password" required>
          </div>
          <button type="submit" class="btn btn-defualt">Login</button>
        </form>

        <h3>Dont have an account?</h3>
        <a href="./register"><button class="btn btn-defualt">Register here!</button></a>

        {{#if message}}
          <br><div class="alert alert-success alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
          </div>
        {{/if}}
    </div>
  </body>
</html>
