<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JUTR Jobs</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"> JUTR </a>
    </div>
    <ul class="nav navbar-nav">
     <li><a href="./Main"><span class="glyphicon glyphicon-home"></span> Home</a></li>
     <li><a href="./Companys"><span class="glyphicon glyphicon-book"></span> Companys</a></li>
     <li><a href="./JobListing"><span class="glyphicon glyphicon-lock"></span> Job Listings</a> </li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
    <li><a href="./Profile"><span class="glyphicon glyphicon-user"></span> My profile</a></li>

 </div>
</nav>


<div class="jumbotron text-center">
  <h1>Welcome to JUTR Jobs!</h1>
  <p>Search for your next career.</p>
</div>
  </body>
</html>
