<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JUTR Jobs</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- importing webpacks for bootstrap 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
    <body style="background-image: url(https://hw-media.herworld.com/public/2020/03/stylish-ways-spruce-up-home-office-space.jpg); background-size: cover; background-repeat: no-repeat; height:40rem; background-position: center;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

      <div class="container-fluid">
        <a class="navbar-brand" href="./Main">
      <img src="/jutr_logo_final.png",alt="poopoo" width="55" height="50" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <!-- creating the navbar using bootstraps  -->
    <div class="navbar-nav">
      <a href="./Main" class="nav-item nav-link text-white bg-dark"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="./Companys" class="nav-item nav-link text-white bg-dark"><i class="fa fa-fw fa-envelope"></i> Companies</a>
      <a href="./JobListing" class="nav-item nav-link text-white bg-dark"><i class="fa fa-fw fa-bars"></i> Job Listings</a>
      <a href="./profileList" class="nav-item nav-link text-white bg-dark"><i class="fas fa-file"></i> Profiles</a>
    </div>
    <div class="navbar-nav ml-auto">
            <a href="./Profile" class="nav-item nav-link text-white bg-dark"><i class="fa fa-fw fa-user"></i>My Profile</a>
            <a href="./Logout" class="nav-item nav-link text-white bg-dark"><i class='fas fa-sign-out-alt'></i> Logout</a>
        </div>
    </nav>

<br>
<div class="container-sm">
  <div class="jumbotron text-center bg-dark text-white p-3 mb-5 rounded-12">
    <img src="/jutr_logo_final.png" alt="" width="150" height="150"class="rounded mx-auto d-block">
    <h1>Welcome to JUTR Jobs!</h1>
    <p>Search for your next career.</p>
  </div>
</div>

  </body>
</html>
