<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>JUTR Jobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="container-fluid">
      <a class="navbar-brand" href="#">
    <img src="/pic.png",alt="poopoo" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    JUTR
  </a>
  <div class="navbar-nav">
      <a href="./Main" class="nav-item nav-link text-white bg-dark">Home</a>
      <a href="./Companys" class="nav-item nav-link text-white bg-dark">Companys</a>
      <a href="./JobListing" class="nav-item nav-link text-white bg-dark">Job Listings</a>
  </div>
  <div class="navbar-nav ml-auto">
          <a href="./Profile" class="nav-item nav-link text-white bg-dark">My Profile</a>
      </div>
  </nav>
    <div class="container">
      <h2>Profile</h2>
      <form class="" action="profile_" method="post">
        <div class="form-group">
          <label for="ProfileID">Profile ID: </label>
        </div>
        <div class="form-group">
          <label for="Username">Username: </label>
        </div>
        <div class="form-group">
          <label for="FirstName">First Name: </label>
        </div>
        <div class="form-group">
          <label for="LastName">LastName: </label>
        </div>
        <div class="form-group">
          <label for="Email">Email: </label>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number: </label>
        </div>
        <div class="form-group">
          <label for="Employed">Employed Status: </label>
        </div>
        {{#if username}}
        <script type="text/javascript">

        </script>
        {{/if}}
        <div class="container">
          <h2>JUTR JOBS</h2>
          <p>rushi a cutie</p>
          <div>
            {{firstname}}
          </div>
        </div>
      </body>
      </html>
