<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>JUTR Jobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="container">
      <h1>Register for Job Site</h1>
      <form class="" action="/LoginInfo" method="post">
        <div class="form-group">
          <label for="UsernameRegister">Enter Username</label>
          <input type="text" id="UsernameRegister" class="form-control" name="UsernameRegister">
        </div>
        <div class="form-group">
          <label for="PasswordRegister">Enter Password</label>
          <input type="password" id="PasswordRegister" class="form-control" name="PasswordRegister">
        </div>
        <button type="submit" name="SubmitRegister" value="Register" class="btn btn-defualt">Register</button>
      </form>
      {{#if message}}
        <br><div class="alert alert-danger alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{message}}
        </div>
      {{/if}}
    </div>
  </body>
</html>
