<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>JUTR Jobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
  <body>
    <div class="jumbotron text-center" style="background-image: url(https://www.technojobs.co.uk/info/sites/www.technojobs.co.uk/files/styles/article_image_large/public/article-images/types-of-office-workers-you-might-work-with.jpg?itok=DUpTfQ6L); background-size: auto;  background-repeat: no-repeat;">
      <h1>Welcome to JUTR Jobs!</h1>
      <p>Search for your next career.</p>
    </div>

    <div class="container">
      <h1>Register for Job Site</h1>
      <br>
      <div class="card bg-light text-black">
      <form class="" action="/LoginInfo" method="post">
        <div class="form-group p-4">
          <h4><label for="UsernameRegister">Enter Username: </label></h4>
          <input type="text" id="UsernameRegister" class="form-control" name="UsernameRegister" required>
        </div>
        <div class="form-group p-4">
        <h4><label for="PasswordRegister">Enter Password: </label></h4>
          <input type="password" id="PasswordRegister" class="form-control" name="PasswordRegister" required>
        </div>
      </div>
      <br>
        <button type="submit" name="SubmitRegister" value="Register" class="btn btn-dark">Register</button>
      {{#if message}}
        <br><div class="alert alert-danger alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{message}}
        </div>
      {{/if}}
    </div>
  </body>
</html>
